@model TheVetsWebsite.Models.Animal
@{
    ViewBag.Title = "Index";
}

<h2>Breed Search</h2>
<br />

@*@using (Html.BeginForm("SelectedAnimal", "BreedSearch"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.breed)
            @Html.TextBoxFor(m => m.breed, new { @class = "form-control" })
        </div>
    }*@

<form>
    <div class="form-group">
        <label>Breed</label>
        <input id="breedSearchBox" type="text" value="" class="form-control" />
    </div>
</form>
<br />

<div class="container-fluid" id="animalInfo" style="display:none">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(Model => Model.animaltype)</th>
                <th>@Html.DisplayNameFor(Model => Model.breed)</th>
                <th>@Html.DisplayNameFor(Model => Model.minsize)</th>
                <th>@Html.DisplayNameFor(Model => Model.maxsize)</th>
                <th>@Html.DisplayNameFor(Model => Model.minweight)</th>
                <th>@Html.DisplayNameFor(Model => Model.maxweight)</th>
                <th>@Html.DisplayNameFor(Model => Model.energylevel)</th>
                <th>@Html.DisplayNameFor(Model => Model.temperament)</th>
                <th>@Html.DisplayNameFor(Model => Model.trainability)</th>
                <th>@Html.DisplayNameFor(Model => Model.lifespan)</th>
                <th>@Html.DisplayNameFor(Model => Model.goodwithkids)</th>
                <th>@Html.DisplayNameFor(Model => Model.goodwithotheranimals)</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td class="animalType"></td>
                    <td class="breed"></td>
                    <td class="minsize"></td>
                    <td class="maxsize"></td>
                    <td class="minweight"></td>
                    <td class="maxweight"></td>
                    <td class="energylevel"></td>
                    <td class="temperament"></td>
                    <td class="trainability"></td>
                    <td class="lifespan"></td>
                    <td class="goodwithkids"></td>
                    <td class="goodwithotheranimals"></td>
                </tr>
        </tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var animals = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('breed'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/BreedSearchResults?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#breedSearchBox').typeahead({
                minLength: 3,
                highlight: true
            },
                {
                    name: 'animals',
                    display: 'breed',
                    source: animals
                }).on("typeahead:select", function (e, animals) {
                    $('#animalInfo').removeAttr("style");
                    $('.animalType').text(animals.animaltype);
                    $('.breed').text(animals.breed);
                    $('.minsize').text(animals.minsize);
                    $('.maxsize').text(animals.maxsize);
                    $('.minweight').text(animals.minweight);
                    $('.maxweight').text(animals.maxweight);
                    $('.energylevel').rateYo({ rating: animals.energylevel, readOnly: true, starWidth: "20px" });
                    $('.temperament').text(animals.temperament);
                    $('.trainability').rateYo({ rating: animals.trainability, readOnly: true, starWidth: "20px" });
                    $('.lifespan').text(animals.lifespan);
                    $('.goodwithkids').text(animals.goodwithkids);
                    $('.goodwithotheranimals').text(animals.goodwithotheranimals);
                });
        });
    </script>
}